* {
	box-sizing: border-box;
	padding:0;
	margin: 0;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.navbar {
	font-size: 18px;
	background-color: rgb(233, 233, 233);
}

.mainNav {
	list-style-type: none;
	display: none;
}

.mainNav li {
	text-align: center;
	margin: 15px auto;
}

.logo {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 20px;
}

.navLinks {
	text-decoration: none;
	color: black;
}

.logo {
	font-family: 'Marck Script', cursive;
	font-size: 4vw;
	color: black;
}

/* Menu icon css */
.hamburgerMenu {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Show menu items */
.active {
	display: block;
}

@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}

	.mainNav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}

	.mainNav li {
		margin: 0;
	}

	.navLinks {
		margin-left: 40px;
	}

	#upFile {
	    display: none;
	}

	#upButton {
	    background: rgb(233, 233, 233);
	    margin-left: 40px;
	    border: none;
	    font-family: inherit;
	    font-size: inherit;
	    color: black;
	    cursor: pointer;
	}
	.logo {
		margin-top: 0;
	}

	.hamburgerMenu {
		display: none;
	}

	/* Image grid css */
	.row {
		display: flex;
		background-color: black;
		flex-wrap: wrap;
		padding: 0 4px;
	}

	/* Create four equal columns that sits next to each other */
	.column {
		flex: 25%;
		max-width: 25%;
		padding: 0 4px;
	}

	.column img {
		margin-top: 8px;
		vertical-align: middle;
		width: 100%;
	}
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
  }
}